@use "variables" as *;
@use "sideSections.scss";

body {
    background-color: $dark;
    overflow-x: hidden;
}

label {
    font-size: 0.75rem;
    color: $lightWhiteText;
}

input {
    background-color: $lightDark;
    border: 1px solid $lightGrayText;
    color: $lightWhiteText;
    outline: none;
    padding: 0.75rem;
    min-width: 5rem;
    transition: transform 0.3s ease;

    &:focus {
        transform: scale(1.015);
        outline: 1px solid $cyanBlue;
    }
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea {
    background-color: $lightDark;
    border: none;
    outline: none;
    resize: vertical;
    min-height: 4rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: $lightWhiteText;
    transition: transform 0.3s ease;

    &:focus {
        outline: 1px solid $cyanBlue;
        transform: scale(1.02);
    }
}

.buttonApp {
    padding: 1.25rem;
    max-width: 50%;
    background-color: $lightCoral;
    border: none;
    border-radius: 2px;
    font-size: 0.8rem;
    color: whitesmoke;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: $coral;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
    }

}

.addRemoveButtons {
    display: flex;
    gap: 1rem;
}

.addBtn {
    background-image: url('/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.removeBtn {
    background-image: url('/minus.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    &:hover {
        background-color: $lightDark;
    }
}

.alertMsg, .alertMsgExp, .alertMsgPro {
    color: $darkCoral;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 0.75rem;
}

.breakLine {
    color: $coral;
    padding-top: 2px;
    background-color: $coral;
    border: none;
}

.mainApp {
    display: flex;
    align-self: center;
    margin-bottom: 2rem;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    outline: 2px solid $lightDark;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 1;
    min-width: 90vw;
    padding: 2rem 1rem 2rem 1rem;
}

.formSection {
    width: 100%;
}

.formDiv {
    max-height: 40rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-y: auto;

    & > * {
        width: 100%;
    }
}

.titleSection {
    color: $lightWhiteText;
    background-color: $dark;
    position: absolute;
    font-size: clamp(0.5rem, 7vw, 1.75rem);
    top: -2rem;
    left: -1rem;
    transform: translate(-0.4rem, -50%);
    overflow: visible;
    overflow-y: visible;
    z-index: 1;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contentForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fullName {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .name {
        display: flex;
        flex-direction: column;
    }
}

/* BUG */



/* SEPARATION */

.submitBtn {
    margin-top: 0.5rem;
}

.submitGenerate {
    background-color: $darkCoral;
    color: $dark;
    font-size: 0.75rem;
    max-width: 75%;
    align-self: center;

    &:hover {
        background-color: $cyanBlue;
        color: $dark;
    }
}

.submitOrPrevious {
    display: flex;
    gap: 1rem;

    .previousBtn {
        background-color: $lightGrayText;
    }
}


/* SEPARATION */

.section-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    position: absolute;
}

.section-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    position: relative;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* SEPARATION */

.templateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: $lightDark; */
    padding: 1.5rem;
    border-radius: 15px;
}

.studyDate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experienceDate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contactField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* SEPARATION */

.mobileMenu {
    background-image: url("../../public/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1.5rem;
    position: absolute;
    border: none;
    border-bottom-right-radius: 15px;
    background-color: inherit;
    display: inline-block;
    left: 0;
    bottom: 1px;
    transform: translateY(100%);
    z-index: 50;
    background-color: $darkCoral;
    transition: transform 0.2s ease;
}

.mobileMenu.rotated {
    transform: translateY(100%) rotate(180deg);
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
}

.menuSlideDown {
    position: absolute;
    width: 100vw;
    min-height: 80vw;
    max-height: 100vh;
    z-index: 100;
    background-color: $darkCoral;
    opacity: 0.97;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 1s ease;

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $darkCoral;
        outline: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 1rem;

        button {
            min-width: 70vw;
            background-color: $dark;
            text-shadow: 2px 2px 50px white;
        }

        .menuTitle {
            position: static;
            color: $dark;
            font-size: 2rem;
            text-shadow: 2px 2px 50px white;
        }

        .buttonTemplateMenu {
            background-color: $lightGrayText;
        }
    }

    span {
        color: $lightWhiteText;
        text-align: center;
        font-size: 0.6rem;
        margin-bottom: 0.25rem;
    }
}

.menuSlideDown.open {
    transform: translateY(0vh);
}

.goalTextArea {
    min-height: 10rem;
}

