@use "variables" as *;
@use "sideSections.scss";

label {
    font-size: 0.75rem;
    color: $lightWhiteText;
}

input {
    background-color: $lightDark;
    border: 1px solid $lightGrayText;
    outline: none;
    padding: 0.75rem;
    min-width: 5rem;
    color: $lightWhiteText;
    transition: transform 0.3s ease;

    &:focus {
        transform: scale(1.02);
        outline: 1px solid $cyanBlue;
    }
    
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

textarea {
    background-color: $lightDark;
    border: none;
    outline: none;
    resize: vertical;
    min-height: 6rem;
    color: $lightWhiteText;
    transition: transform 0.3s ease;

    &:focus {
        outline: 1px solid $cyanBlue;
        transform: scale(1.02);
    }
}

.buttonApp {
    padding: 1.25rem;
    max-width: 50%;
    background-color: $lightCoral;
    border: none;
    border-radius: 2px;
    font-size: 0.8em;
    color: whitesmoke;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: $coral;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
    }

}

.mainApp {
    display: flex;
    align-self: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    outline: 2px solid $lightDark;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 1;
    min-width: 90vw;
    padding: 2rem 1rem 2rem 1rem;
}

.formSection {
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.fullName {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .name {
        display: flex;
        flex-direction: column;
    }
}

/* BUG */

.titleSection {
    color: $lightWhiteText;
    background-color: $dark;
    position: absolute;
    top: -2rem;
    left: -1rem;
    transform: translate(-0.4rem, -50%);
}

/* SEPARATION */

.submitBtn {
    margin-top: 0.5rem;
}

.submitGenerate {
    background-color: $darkCoral;
    color: $dark;
    font-size: 0.75rem;
    max-width: 75%;
    align-self: center;

    &:hover {
        background-color: $cyanBlue;
        color: $dark;
    }
}

.submitOrPrevious {
    display: flex;
    gap: 1rem;

    .previousBtn {
        background-color: $lightGrayText;
    }
}


/* SEPARATION */

.section-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    position: absolute;
}

.section-visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    position: relative;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* SEPARATION */

.templateContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.editButton {
    align-self: center;
}

.studyDate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experienceDate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contactField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* SEPARATION */

.mobileMenu {
    background-image: url("../../public/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1.5rem;
    position: absolute;
    border: none;
    background-color: inherit;
    transition: transform 0.1s ease;
    display: inline-block;
    left: 0;
    top: 25%;
    z-index: 50;
    background-color: $darkCoral;
    transition: transform 0.3s ease;
}

.mobileMenu.rotated {
    transform: rotate(180deg);
}

.menuSlideDown {
    position: absolute;
    padding: 2rem;
    width: 95vw;
    background-color: blue;
    top: -1rem;
    z-index: 45;
}

