@use "variables" as *;

.footer {
    background: $dark;
    display: flex;
    position: absolute;
    bottom: 5px;
    width: 100vw;
    margin-top: 1rem;
}

.author {
    color: $lightWhiteText;
    font-size: 0.75rem;
    text-align: center;
    width: 100%;
}