@use "../styles/variables" as *;

.light {
    .text {
        color: #222222;
    }

    .background {
        background-color: rgb(207, 207, 207);
        outline: #f5f5f5;
        border-top: 2px solid $lightDark;
    }
}

.dark {
    .text {
        color:#dddcdc;
    }

    .background {
        background-color: #222222;
        outline: 2px solid #3b3b3b;
    }
}