$coral: #FF5733;
$darkCoral: #e6401b;
$lightCoral: #ff6846;
$cyanBlue: #03ebeb;
$darkCyanBlue: #00a2aa;

$lightGrayText: #515151;
$lightWhiteText: #dddcdc;
$lightDark: #3b3b3b;
$dark: #121212;

@mixin light-mode {
    $lightDark: rgb(207, 207, 207);
    $dark: white;
    $lightWhiteText: rgb(65, 65, 65);
    $lightGrayText: #222222;
}

