$coral: #FF5733;
$darkCoral: #e6401b;
$lightCoral: #ff6846;
$cyanBlue: #03ebeb;
$darkCyanBlue: #00a2aa;

$lightDark: #3b3b3b;
$dark: #121212;
$lightWhiteText: #dddcdc;
$lightGrayText: #515151;

$lightModeWhite: rgb(228, 228, 228);
