@use "app";
@use "header";
@use "sideSections";
@use "template";
@use "footer";
@use "variables" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

html, body {
    min-height: 100vh;
    transition: background-color 0.5s ease;
}

h2 {
    transition: background-color 0.5s ease;
}

body.dark {
    background-color: $dark;
}

body.light {
    background-color: $lightModeWhite;

    h2 {
        background-color: $lightModeWhite;
        color: $dark;
    }
    
    input {
        background-color: whitesmoke;
        border: 1px solid white;
        color: $dark;
    }

    textarea {
        background-color: whitesmoke;
        border: 1px solid white;
        color: $dark;
    }

    label {
        color: $dark;
    }

    .author {
        color: $dark;
    }

    .menu {
        background-color: $lightModeWhite;
    }
    
    .menuSlideDown .menu {
        background-color: $darkCoral;

        button {
            background-color: $lightModeWhite;
            color: $dark;
        }

        .buttonTemplateMenu {
            background-color: $lightGrayText;
            color: $lightModeWhite;
        }

        .menuTitle {
            color: $lightModeWhite;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    justify-content: space-between;
}

.footer {
    justify-self: flex-end;
}

.author {
    .nameAuthor {
        color: $coral;
        text-decoration: none;
        transition: transform 0.5s ease;
        display: inline-block;

        &:hover {
            transform: translateY(-2px);
        }
    }
    
}

.menu {
    display: none;
    transition: background-color 0.5s ease;
}

@media screen and (min-width: 856px) {
    .main {
        display: flex;
    }

    .menu {
        display: flex;
    }

    .menuSlideDown {
        display: none;
    }

    .mobileMenu {
        display: none;
    }

    .app {
        min-width: 50vw;
    }

    .formDiv {
        max-height: 35rem;
    }

    .field {
        & > * {
            width: 100%;
        }
    }

    .fullName {
        flex-direction: row;  
        gap: 1rem;


        & > * {
            width: 100%;
        }
    }

    .templateContainer {
        flex-direction: row;
    }
}

@media screen and (min-width: 1100px) {
    .app {
        min-width: 60vw;

        .buttonApp {
            max-width: 25%;
        }

        .studyDate {
            flex-direction: row;
            gap: 1rem;
        }

        .experienceDate {
            flex-direction: row;
            gap: 1rem;
        }

        .contactField {
            flex-direction: row;
            gap: 1rem;

            .contact {
                width: 100%;
            }
        }
    }

    .formDiv {
        max-height: 32rem;
    }

    .contentForm {
        max-height: 32rem;
    }
}

@media screen and (min-width: 1600px) {
    .app {
        min-width: 50vw;
    }
}