@use "app";
@use "header";
@use "resumeStyle";
@use "sideSections";
@use "template";
@use "footer";
@use "variables" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

html, body {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
    background-color: $dark;
    min-height: 100vh;
    position: relative;
}

.author {
    text-align: center;
    position: relative;
    display: inline-block;

    .nameAuthor {
        color: whitesmoke;
        text-decoration: none;
        transition: transform 0.5s ease;
        display: inline-block;

        &:hover {
            transform: translateY(-5px);
        }
    }
    
}

.menu {
    display: none;
}

@media screen and (min-width: 800px) {
    .main {
        display: flex;
    }

    .menu {
        display: flex;
    }

    .app {
        min-width: 50vw;
    }
}

@media screen and (min-width: 1100px) {
    .app {
        min-width: 60vw;

        .buttonApp {
            max-width: 25%;
        }

        .fullName {
            flex-direction: row;  
            justify-content: space-between;

            & > * {
                width: 100%;
            }
        }

        .studyDate {
            flex-direction: row;
        }

        .experienceDate {
            flex-direction: row;
        }

        .contactField {
            flex-direction: row;

            .contact {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    .app {
        min-width: 50vw;
    }
}